@charset "UTF-8";
body {
  width: 1260px;
  margin: 0 auto;
}
header {
  font-size: 35px;
  position: relative;
  text-align: center;
}
.frs {
  position: absolute;
  top: 30%;
  right: 0;
  width: 120px;
  padding: 0.5% 1%;
  font-size: 15px;
  font-weight: bold;
  background-color: #5fb404;
  color: #fff;
  cursor: pointer;
}
.frs:hover {
  opacity: 0.8;
}
/*ここからはモーダルウィンドウ*/
.close-modal img {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 10px;
  cursor: pointer;
}
.box-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(0, 0, 0, 0.6);
  z-index: 100;
  display: none;
}
.modal {
  position: absolute;
  top: 35%;
  left: 33%;
  background-color: #fff;
  padding: 60px 10px;
  border-radius: 10px;
  width: 450px;
  text-align: center;
}
/*ここからはメガメニュー*/
.mainmenu, .submenu {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.parents {
  float: left;
  margin: 0 auto 3%;
  padding: 1% 0;
  width: 25%;
  text-align: center;
  background-color: #ffbf00;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  border-left: 0.5px solid #fff;
  box-sizing: border-box;
}
.submenu {
  width: 315px;
  position: absolute;
  display: none;
  background-color: #ffbf00;
  border-left: 0.5px solid #fff;
  box-sizing: border-box;
  z-index: 100;
}
.child {
  text-align: left;
  margin: 5% 5%;
  font-size: 15px;
}
.child a {
  text-decoration: none;
  display: block;
  color: #fff;
}
.child a:hover {
  color: #000;
}
/*ここからはハンバーガーメニュー*/
.navToggle {
    display: block;
    position: fixed;
    right: 13px;
    top: 12px;
    width: 42px;
    height: 47px;
    cursor: pointer;
    z-index: 3;
    background: #666;
    text-align: center;
}
.navToggle span {
    display: block;
    position: absolute;
    width: 30px;
    border-bottom: solid 3px #eee;
    -webkit-transition: .35s ease-in-out;
    -moz-transition: .35s ease-in-out;
    transition: .35s ease-in-out;
    left: 6px;
}
.navToggle span:nth-child(1) {
    top: 9px;
}
.navToggle span:nth-child(2) {
    top: 18px;
}
.navToggle span:nth-child(3) {
    top: 27px;
}
.navToggle span:nth-child(4) {
    border: none;
    color: #eee;
    font-size: 10px;
    font-weight: bold;
    top: 30px;
}
.navToggle.active span:nth-child(1) {
    top: 18px;
    left: 6px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.navToggle.active span:nth-child(2),
.navToggle.active span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}
/*ここからはアコーディオン*/
.faq ul {
  margin: 3% 0;
  padding: 0;
  border: 2px solid #D8D8D8;
  background-color: #D8D8D8;
  list-style: none;
  text-align: center;
  clear: both;
}
li.faq-list-item {
  margin-left: 0;
  font-size: 15px;
  position: relative;
  border-bottom: 2px solid #fafafa;
  cursor: pointer;
}
li.faq-list-item:last-child {
  border-bottom: none;
}
.contents {
  padding: 0.5% 0;
  font-size: 15px;
  display: none;
  background-color: white;
}
/*ここからはタブ切り替え*/
.tab {
  margin: 2% auto;
  padding: 0;
  list-style-type: none;
}
.tab li {
  width: 25%;
  padding: 1.5% 0;
  float: left;
  text-align: center;
  background-color: #f2f2f2;
  border: 0.5px solid #fff;
  cursor: pointer;
  box-sizing: border-box;
}
.tab li:hover {
  opacity: 0.7;
}
.tab li.active {
  border: 0.5px solid #045fb4;
  background-color: #045fb4;
  color: #fff;
}
.content {
  clear: both;
  text-align: center;
  padding: 15% 0;
  border: 5px solid #045fb4;
  display: none;
}
.content.active {
  display: block;
}
/*ここからはスムーススクロール*/
#top {
  position: absolute;
  margin-top: 2%;
  right: 0%;
  cursor: pointer;
}
#top:hover {
  opacity: 0.9;
}
/*ここからはレスポンシブ*/
@media screen and (min-width:410px) and (max-width:800px) {
  body, header, nav, .submenu {
    margin: auto;
    width: 100%;
    font-size: 2.5vw;
  }
  .modal {
    top: 40%;
    left: 8%;
    width: 80%;
  }
  .parents, .child, li.faq-list-item, .contents {
    font-size: 2.5vw;
  }
  .frs {
    right: 13%;
    top: 5%;
    width: 18%;
    height: auto;
    padding: 1% 0;
    font-size: 2vw;
  }
  .submenu {
    width: 25%;
  }
  .megamenu {
    display: none;
  }
}
